<!DOCTYPE html>
<html>
<head>
    <title>List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <!-- CSS -->
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/product/list.css" rel="stylesheet">
    <link href="/css/optimizer.css" rel="stylesheet">
</head>
<body>
<div id="wrap">
    <div id="container">
        <div id="contents">
            <div class="xans-element- xans-product xans-product-menupackage ">
            	<div class="xans-element- xans-product xans-product-headcategory banner ">
				</div>
			</div>

			<div id="prd_contents">
				<div class="xans-element- xans-product xans-product-menupackage ">
					<!-- title -->
					<div class="xans-element- xans-product xans-product-headcategory title ">
						<ul>
							<li class="">
								<h2>
									<a href="/product/list.html?cate_no=232">HOME FURNITURE</a>
								</h2>
							</li>
							<li class="">
								<h2>
									<span class="ar"> &gt; </span>
									<a href="/product/list.html?cate_no=289">&nbsp;&nbsp;소파/1인소파</a>
								</h2>
							</li>
        				</ul>
					</div>
					<!-- sort -->
					<div class="xans-element- xans-product xans-product-normalmenu ">
						<div class="function">
	           				<ul id="type" class="xans-element- xans-product xans-product-orderby">
	           					<li class="xans-record-"><a href="?cate_no=289&amp;sort_method=5#Product_ListMenu">신상품</a></li>
								<li class="xans-record-"><a href="?cate_no=289&amp;sort_method=3#Product_ListMenu">낮은가격</a></li>
								<li class="xans-record-"><a href="?cate_no=289&amp;sort_method=4#Product_ListMenu">높은가격</a></li>
								<li class="xans-record-"><a href="?cate_no=289&amp;sort_method=6#Product_ListMenu">인기상품</a></li>
							</ul>
						</div>
					</div>		
				</div>

				<!-- 상품 -->
				<br><br>
				<div class="xans-element- xans-product xans-product-normalpackage ">
					<div class="xans-element- xans-product xans-product-listnormal ec-base-product">
						<ul class="prdList grid3">
							<li id="anchorBoxId_1982" class="xans-record-">
			                	<!-- img -->
								<div class="thumbnail">
								    <a href="/product/detail.html?product_no=1982&amp;cate_no=289&amp;display_group=1" name="anchorBoxName_1982"><img src="//www.furnimass.com/web/product/medium/20200612/ab8d87449fe43d9662322159f9a994b7.jpg" alt="노르딕 소파 + 소파쿠션 5개 포함 S-620"></a>
								</div>
								<!-- 장바구니 icon -->
								<div class="description">
								    <div class="icon">
								        <div class="basket"><img src="/web/upload/icon_201805301131522000.png" onclick="category_add_basket('1982','289', '1', 'A0000', false, '1', 'P0000CYF', 'A', 'F', '0');" alt="장바구니 담기" class="ec-admin-icon cart"></div>
							  		</div>
									 <!-- 상품명 -->   
								    <p class="name"><a href="/product/detail.html?product_no=1982&amp;cate_no=289&amp;display_group=1" class=""><span class="title displaynone"><span style="font-size:12px;color:#555555;font-weight:bold;">상품명</span> :</span> <span style="font-size:12px;color:#555555;font-weight:bold;">노르딕 소파 + 소파쿠션 5개 포함 S-620</span></a></p>
									  
								    <ul class="xans-element- xans-product xans-product-listitem spec">
								    	<li class=" xans-record-">
											<strong class="title displaynone"><span style="font-size:12px;color:#555555;">상품요약정보</span> :</strong> <span style="font-size:12px;color:#555555;">[한정수량 2개 - 45%SALE] * [커버세탁가능]</span>
										</li>
										<li class=" xans-record-">
											<strong class="title displaynone">
												<span style="font-size:12px;color:#000000;font-weight:bold;">판매가</span> :
											</strong>
											<span style="font-size:12px;color:#000000;font-weight:bold;text-decoration:line-through;">1,200,000원</span>
											<span id="span_product_tax_type_text" style="text-decoration:line-through;"> </span>
										</li>
										<li class=" xans-record-">
											<strong class="title ">
												<span style="font-size:12px;color:#000000;font-weight:bold;">할인가</span> :
											</strong>
											<span style="font-size:12px;color:#000000;font-weight:bold;">660,000원</span>
										</li>
									</ul>
								</div>
            				</li>
							
							<!-- 상품2 -->
							<li id="anchorBoxId_1982" class="xans-record-">
			                	<!-- img -->
								<div class="thumbnail">
								    <a href="/product/detail.html?product_no=1982&amp;cate_no=289&amp;display_group=1" name="anchorBoxName_1982"><img src="//www.furnimass.com/web/product/medium/20200612/2fb3cd946b1d4b6b4996b906a816a757.jpg" alt="노르딕 소파 + 소파쿠션 5개 포함 S-620"></a>
								</div>
								<!-- 장바구니 icon -->
								<div class="description">
								    <div class="icon">
								        <div class="basket"><img src="/web/upload/icon_201805301131522000.png" onclick="category_add_basket('1982','289', '1', 'A0000', false, '1', 'P0000CYF', 'A', 'F', '0');" alt="장바구니 담기" class="ec-admin-icon cart"></div>
							  		</div>
									 <!-- 상품명 -->   
								    <p class="name"><a href="/product/detail.html?product_no=1982&amp;cate_no=289&amp;display_group=1" class=""><span class="title displaynone"><span style="font-size:12px;color:#555555;font-weight:bold;">상품명</span> :</span> <span style="font-size:12px;color:#555555;font-weight:bold;">노르딕 소파 + 소파쿠션 5개 포함 S-620</span></a></p>
									  
								    <ul class="xans-element- xans-product xans-product-listitem spec">
								    	<li class=" xans-record-">
											<strong class="title displaynone"><span style="font-size:12px;color:#555555;">상품요약정보</span> :</strong> <span style="font-size:12px;color:#555555;">[한정수량 2개 - 45%SALE] * [커버세탁가능]</span>
										</li>
										<li class=" xans-record-">
											<strong class="title displaynone">
												<span style="font-size:12px;color:#000000;font-weight:bold;">판매가</span> :
											</strong>
											<span style="font-size:12px;color:#000000;font-weight:bold;text-decoration:line-through;">1,200,000원</span>
											<span id="span_product_tax_type_text" style="text-decoration:line-through;"> </span>
										</li>
										<li class=" xans-record-">
											<strong class="title ">
												<span style="font-size:12px;color:#000000;font-weight:bold;">할인가</span> :
											</strong>
											<span style="font-size:12px;color:#000000;font-weight:bold;">660,000원</span>
										</li>
									</ul>
								</div>
            				</li>
            				<!-- 상품3 -->
            				<li id="anchorBoxId_1982" class="xans-record-">
			                	<!-- img -->
								<div class="thumbnail">
								    <a href="/product/detail.html?product_no=1982&amp;cate_no=289&amp;display_group=1" name="anchorBoxName_1982"><img src="//www.furnimass.com/web/product/medium/20200330/4b6365127b9a51f2e3a4dca409369992.jpg" alt="노르딕 소파 + 소파쿠션 5개 포함 S-620"></a>
								</div>
								<!-- 장바구니 icon -->
								<div class="description">
								    <div class="icon">
								        <div class="basket"><img src="/web/upload/icon_201805301131522000.png" onclick="category_add_basket('1982','289', '1', 'A0000', false, '1', 'P0000CYF', 'A', 'F', '0');" alt="장바구니 담기" class="ec-admin-icon cart"></div>
							  		</div>
									 <!-- 상품명 -->   
								    <p class="name"><a href="/product/detail.html?product_no=1982&amp;cate_no=289&amp;display_group=1" class=""><span class="title displaynone"><span style="font-size:12px;color:#555555;font-weight:bold;">상품명</span> :</span> <span style="font-size:12px;color:#555555;font-weight:bold;">노르딕 소파 + 소파쿠션 5개 포함 S-620</span></a></p>
									  
								    <ul class="xans-element- xans-product xans-product-listitem spec">
								    	<li class=" xans-record-">
											<strong class="title displaynone"><span style="font-size:12px;color:#555555;">상품요약정보</span> :</strong> <span style="font-size:12px;color:#555555;">[한정수량 2개 - 45%SALE] * [커버세탁가능]</span>
										</li>
										<li class=" xans-record-">
											<strong class="title displaynone">
												<span style="font-size:12px;color:#000000;font-weight:bold;">판매가</span> :
											</strong>
											<span style="font-size:12px;color:#000000;font-weight:bold;text-decoration:line-through;">1,200,000원</span>
											<span id="span_product_tax_type_text" style="text-decoration:line-through;"> </span>
										</li>
										<li class=" xans-record-">
											<strong class="title ">
												<span style="font-size:12px;color:#000000;font-weight:bold;">할인가</span> :
											</strong>
											<span style="font-size:12px;color:#000000;font-weight:bold;">660,000원</span>
										</li>
									</ul>
								</div>
            				</li>
						</ul>
					</div>
</div>
</div>

<div class="xans-element- xans-product xans-product-normalpaging ec-base-paginate"><a href="#none" class="first"><img src="https://img.echosting.cafe24.com/skin/base/common/btn_page_first.gif" alt="첫 페이지"></a>
<a href="#none"><img src="https://img.echosting.cafe24.com/skin/base/common/btn_page_prev.gif" alt="이전 페이지"></a>
<ol>
<li class="xans-record-"><a href="?cate_no=289&amp;page=1" class="this">1</a></li>
        <li class="xans-record-"><a href="?cate_no=289&amp;page=2" class="other">2</a></li>
            </ol>
<a href="?cate_no=289&amp;page=2"><img src="https://img.echosting.cafe24.com/skin/base/common/btn_page_next.gif" alt="다음 페이지"></a>
<a href="?cate_no=289&amp;page=2" class="last"><img src="https://img.echosting.cafe24.com/skin/base/common/btn_page_last.gif" alt="마지막 페이지"></a>
</div>

</div>

<br><br><br>

<div id="quick_list">

    <div class="xans-element- xans-layout xans-layout-productrecent xans-record-" style="display: none;"><h2><a href="/product/recent_view_product.html">최근 본 상품</a></h2>
<ul>
<li class="displaynone">
                <a href="/product/detail.html##param##"><img src="about:blank" alt=""><span>##name##</span></a>
            </li>
        </ul>
<p class="player"><img src="https://img.echosting.cafe24.com/skin/base/layout/btn_recent_prev.gif" alt="이전 제품" class="prev"><img src="https://img.echosting.cafe24.com/skin/base/layout/btn_recent_next.gif" alt="다음 제품" class="next"></p>
</div>
<div class="xans-element- xans-layout xans-layout-productrecent xans-record-" style="display: none;"><h2><a href="/product/recent_view_product.html">최근 본 상품</a></h2>
<ul>
<li class="displaynone">
                <a href="/product/detail.html##param##"><img src="about:blank" alt=""><span>##name##</span></a>
            </li>
        </ul>
<p class="player"><img src="https://img.echosting.cafe24.com/skin/base/layout/btn_recent_prev.gif" alt="이전 제품" class="prev"><img src="https://img.echosting.cafe24.com/skin/base/layout/btn_recent_next.gif" alt="다음 제품" class="next"></p>
</div>

    <p class="pageTop"><a href="#header" title="화면 최상단으로 이동하기"><img src="https://img.echosting.cafe24.com/skin/base_ko_KR/layout/btn_top1.gif" alt="맨위로"></a></p>

</div>
        </div>
    </div>

    
    
</div>
</body>
</html>