<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <!-- CSS -->
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/community/community.css" rel="stylesheet">
</head>
<body>
<div id="wrap">
    <div id="container">
        <div id="contents">
            <div class="xans-element- xans-board xans-board-listpackage-4 xans-board-listpackage xans-board-4 ">
                <div class="xans-element- xans-board xans-board-title-4 xans-board-title xans-board-4 ">
                    <!-- title -->
                    <div class="titleArea">
                        <h2><font color="#000000">Q&amp;A</font></h2>
                    </div>
                </div>
                
                <br>
                
                <div class="boardList">
                    <table border="1" summary="">
                        <caption><!-- 상품 게시판 목록 --></caption>
						<!-- header -->                        
                        <colgroup class="xans-element- xans-board xans-board-listheader-4 xans-board-listheader xans-board-4 ">
                            <col style="width:70px;">
                            <col style="width:70px;">
                            <col style="width:auto;">
                            <col style="width:100px;">
                            <col style="width:100px;" class="">
                            <col style="width:55px;" class="">
                        </colgroup>
                        <thead class="xans-element- xans-board xans-board-listheader-4 xans-board-listheader xans-board-4 ">
                        <tr style=" ">
                            <th scope="col"> 번호</th>
                            <th scope="col" class="thumb"></th>
                            <th scope="col" class="subjectTH">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col" class="">작성일</th>
                            <th scope="col" class="">조회</th>
                        </tr>
                        </thead>
                        <tbody class="xans-element- xans-board xans-board-notice-4 xans-board-notice xans-board-4 notice">
                  
                        <tr style="background-color:#FFFFFF; color:#555555;" class="xans-record-">
                            <td>공지</td>
                            <td class="thumb"><a href="/product/detail.html"></a></td>
                            <td class="subject">
                       			<span class="displaynone">
	                          		<a href="#none" onclick="BOARD.viewTarget('858','6',this);">
	                          			<img src="https://img.echosting.cafe24.com/skin/base/board/btn_unfold.gif" alt="내용 보기">
	                          		</a>
                       			</span>
                                <a href="/board/product/read.html?no=858&amp;board_no=6" style="color:#555555;">[원목 테이블]프래임 디자인</a>
                                    <img src="//img0001.echosting.cafe24.com/front/type_b/image/common/icon_hit.gif" alt="HIT" class="ec-common-rwd-image"><span class="comment"></span>
                            </td>
                            <td>퍼니매스</td>
                            <td class="txtLess ">2019-05-22 11:24:34</td>
                            <td class="txtLess ">321</td>
                        </tr>
                        </tbody>
                        <!-- body -->
                        <tbody class="xans-element- xans-board xans-board-list-4 xans-board-list xans-board-4">
                        <tr style="background-color:#FFFFFF; color:#555555;" class="xans-record-">
                            <td>1087</td>
                            <td class="thumb"><a href="/product/detail.html?product_no=4919"></a></td>
                            <td class="subject">
                       			<span class="displaynone">
                           			<a href="#none" onclick="BOARD.viewTarget('1385','6',this);"><img src="https://img.echosting.cafe24.com/skin/base/board/btn_unfold.gif" alt="내용 보기"></a>
                       			</span>
                                <a href="/board/product/read.html?no=1385&amp;board_no=6" style="color:#555555;">상품 문의드립니다^^</a>
	                                <img src="//img0001.echosting.cafe24.com/front/type_b/image/common/icon_lock.gif" alt="비밀글" class="ec-common-rwd-image">
	                                <img src="//img0001.echosting.cafe24.com/front/type_b/image/common/icon_file.gif" alt="파일첨부" class="ec-common-rwd-image">
	                                <span class="comment"></span>
                            </td>
                            <td>최지****</td>
                            <td class="txtLess ">2020-09-18 19:14:43</td>
                            <td class="txtLess ">5</td>
                        </tr>
                        <tr style="background-color:#FFFFFF; color:#555555;" class="xans-record-">
                            <td>1086</td>
                            <td class="thumb"><a href="/product/detail.html?product_no=4919"></a></td>
                            <td class="subject">
                       		<span class="displaynone">
                          		<a href="#none" onclick="BOARD.viewTarget('1386','6',this);">
                          		<img src="https://img.echosting.cafe24.com/skin/base/board/btn_unfold.gif" alt="내용 보기"></a>
                       		</span>
                            &nbsp;&nbsp;&nbsp;
                            <img src="//img0001.echosting.cafe24.com/front/type_b/image/common/icon_re.gif" alt="답변"class="ec-common-rwd-image">
                            	<a href="/board/product/read.html?no=1386&amp;board_no=6" style="color:#555555;">상품 문의드립니다^^</a>
                            	<img src="//img0001.echosting.cafe24.com/front/type_b/image/common/icon_lock.gif" alt="비밀글" class="ec-common-rwd-image">
                            	<span class="comment"></span>
                            </td>
                            <td>퍼니매스</td>
                            <td class="txtLess ">2020-09-21 09:50:26</td>
                            <td class="txtLess ">1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="xans-element- xans-board xans-board-empty-4 xans-board-empty xans-board-4 boardListEmpty displaynone ">
                    <p></p>
                </div>
                <!-- 작성 버튼 -->
                <div class="xans-element- xans-board xans-board-buttonlist-4 xans-board-buttonlist xans-board-4  button_g ">
                    <div class="btnArea L b_center">
                        <a href="/board/product/write.html?board_no=6" class=" black_s">작성하기</a>
                    </div>
                </div>
            </div>

			<!-- paging -->
            <div class="xans-element- xans-board xans-board-paging-4 xans-board-paging xans-board-4 ec-base-paginate">
            <a href="?board_no=6&amp;page=1">
            	<img src="https://img.echosting.cafe24.com/skin/base/common/btn_page_prev.gif" alt="이전 페이지"></a>
                <ol>
                	<li class="xans-record-"><a href="?board_no=6&amp;page=1" class="this">1</a></li>
                    <li class="xans-record-"><a href="?board_no=6&amp;page=2" class="other">2</a></li>
                    <li class="xans-record-"><a href="?board_no=6&amp;page=3" class="other">3</a></li>
                    <li class="xans-record-"><a href="?board_no=6&amp;page=4" class="other">4</a></li>
                    <li class="xans-record-"><a href="?board_no=6&amp;page=5" class="other">5</a></li>
                    <li class="xans-record-"><a href="?board_no=6&amp;page=6" class="other">6</a></li>
                    <li class="xans-record-"><a href="?board_no=6&amp;page=7" class="other">7</a></li>
                    <li class="xans-record-"><a href="?board_no=6&amp;page=8" class="other">8</a></li>
                    <li class="xans-record-"><a href="?board_no=6&amp;page=9" class="other">9</a></li>
                    <li class="xans-record-"><a href="?board_no=6&amp;page=10" class="other">10</a></li>
                </ol>
                <a href="?board_no=6&amp;page=2"><img src="https://img.echosting.cafe24.com/skin/base/common/btn_page_next.gif" alt="다음 페이지"></a>
            </div>
    	</div>
    </div>
</div>
</body>
</html>