<!DOCTYPE html>
<html>
<head>
    <title>Detail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- CSS -->
    <link href="/HangaguView/css/common.css" rel="stylesheet">
    <link href="/HangaguView/css/community/community.css" rel="stylesheet">
    <link href="/HangaguView/css/optimizer.css" rel="stylesheet">
</head>
<body>
<div id="wrap">
    <div id="container">
        <div id="contents">
            <div class="xans-element- xans-board xans-board-listpackage-4 xans-board-listpackage xans-board-4 ">
                <div class="xans-element- xans-board xans-board-title-4 xans-board-title xans-board-4 ">
                    <!-- title -->
                    <div class="titleArea">
                        <h2><font color="#000000">REVIEW</font></h2>
                    </div>
                </div>
                <!-- 상품정보 -->
                <div class="xans-element- xans-board xans-board-product-4 xans-board-product xans-board-4 ec-base-box typeProduct "><p class="thumbnail"><a href="/product/detail.html?product_no=4919"><img src="//furnimass.com/web/product/tiny/202008/f84062a5015796461a78eca5837bf77a.jpg" alt="" onerror="this.src='https://img.echosting.cafe24.com/thumb/75x75.gif'"></a></p>
					<div class="information">
			            <h3><a href="/product/detail.html?product_no=4919">러버 라탄 체어 W-730</a></h3>
			            <p class="price">120,000원</p>
			            <p class="button"><a href="/product/detail.html?product_no=4919" title="새창으로 이동"><img src="https://img.echosting.cafe24.com/skin/base_ko_KR/board/btn_prd_detail.gif" alt="상품상세보기"></a></p>
			        </div>
				</div>
                <br>
	    	</div>
	    	
	    	<!-- 게시글 -->
                <div>
                	<table class="community_table">
                		 <tbody>
							<tr>
								<th>제목</th>
		                    	<td>
		                    		<strong>만족</strong>
		                    	</td>
			                </tr>
			                <tr>
								<th>작성자</th>
			                    <td>네이****</td>
			                </tr>
			                <tr class="etcArea">
								<td colspan="2">
	    						</td>
			                </tr>
			                
			                <!-- 실제 tbody(내용) -->
			                <tr class="view">
								<td colspan="2">
		                	        <div class="detail">퀄리티 있고 좋습니다<br><br><span style="color:#999999;">(2020-11-04 18:58:12 에 등록된 네이버 페이 구매평)</span></div>
			                    </td>
			                </tr>
			                
			                <tr class="etcArea">
								<td colspan="2">
	    						</td>
			                </tr>
						</tbody>
                	</table>
                </div>
                <!-- 목록보기 -->
                <div class="button_g ">        
		        	<div class="btnArea M b_left">
		        	    <a href="/board/product/list.html?board_act=list&amp;board_no=4&amp;product_category_depth1=&amp;product_category_depth2=&amp;product_category_depth3=&amp;product_category_depth4=" class="black_s">목록보기</a>
		        	</div>
		        </div>
<!-- 				<hr class="hr_gray"> -->
		    </div>
	    </div>
	</div>
</body>
</html>