<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FIND ID</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/login/findId.css">
</head>
<body>
<div id="wrap">

    <div id="container">
        <div id="contents">

            <div class="path">
                <span>현재 위치</span>
                <ol><li><a href="/">홈</a></li>
                    <li title="현재 위치"><strong>아이디 찾기</strong></li>
                </ol></div>

            <div class="titleArea">
                <h2>FIND ID</h2>
            </div>

            <form id="findIdForm" name="findIdForm" action="/exec/front/Member/findId/" method="post" target="_self" enctype="multipart/form-data">
                <input id="returnUrl" name="returnUrl" value="/member/id/findIdResult.html" type="hidden"><div class="xans-element- xans-member xans-member-findid "><!--

     -->
                <div class="findId">
                    <fieldset>
                        <legend>아이디 찾기</legend>
                        <p class="member"><strong>회원유형</strong> <select id="searchType" name="searchType" fw-filter="" fw-label="회원유형" fw-msg="">
                            <option value="indi" selected="selected">개인회원</option>
                        </select></p>
                        <p class="check"><input id="check_method0" name="check_method" fw-filter="" fw-label="찾는방법" fw-msg="" value="1" type="radio" style="display: none;"><label for="check_method0" style="display: none;"><span id="ssn_lable" style="display: none;"></span></label>
                            <input id="check_method1" name="check_method" fw-filter="" fw-label="찾는방법" fw-msg="" value="2" type="radio" checked="checked"><label for="check_method1">이메일</label>
                            <input id="check_method2" name="check_method" fw-filter="" fw-label="찾는방법" fw-msg="" value="3" type="radio"><label for="check_method2"><span id="search_type_mobile_lable" style="display:inline;">휴대폰번호</span></label></p>
                        <p id="name_view" class="name" style=""><strong id="name_lable">이름</strong> <input id="name" name="name" fw-filter="" fw-label="이름" fw-msg="" class="lostInput" placeholder="" value="" type="text"></p>
                        <p id="email_view" class="email" style=""><strong>이메일로 찾기</strong> <input id="email" name="email" fw-filter="isEmail" fw-label="이메일" fw-msg="" class="lostInput" placeholder="" value="" type="text"></p>
                        <p id="mobile_view" class="mobile" style="display:none;"><strong>휴대폰 번호로 찾기</strong> <input id="mobile1" name="mobile1" fw-filter="isMin[3]&amp;isMax[3]&amp;isNumber" fw-label="휴대전화 번호" fw-msg="" class="mobile1" placeholder="" maxlength="3" value="" type="text"> - <input id="mobile2" name="mobile2" fw-filter="isMin[3]&amp;isMax[4]&amp;isNumber" fw-label="휴대전화 번호" fw-msg="" class="mobile2" placeholder="" maxlength="4" value="" type="text"> - <input id="mobile3" name="mobile3" fw-filter="isMin[4]&amp;isMax[4]&amp;isNumber" fw-label="휴대전화 번호" fw-msg="" class="mobile2" placeholder="" maxlength="4" value="" type="text"></p>
                        <div class="ec-base-button" style="padding:15px 0 !important;">
                            <div class="btnArea b_full b_center">
                                <a href="#none" onclick="findId.action('furnimass' , 'kcp'); return false;" class="black">확인</a>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            </form>
        </div>
    </div>



</div>
</body>
</html>