
    <!-- footer부분 추후 리액트로 변경 -->
    <div class="inner">
        <div>
            <ul>
                <li style="width:37%;">
                    <p class="foot_tit">COMPANY INFO</p>
                    <p>주식회사 한가구 </p>
                    <p>대표 : </p>
                    <p>사업자등록번호 : </p>
                    <p>통신판매업신고번호 :  <a href="#">[사업자정보확인]</a></p>
                    <p>개인정보관리책임자 : </p>
                    <a href="#" target="_blank"><img src="/HangaguView/WebContent/static/images/sample.jpg" alt="오시는길"></a>
                    <p>쇼룸주소 : </p>
                    <p>공장주소 : </p>
                    <br><p style="color:#000;font-size:9pt;font-weight:bold;">한가구 입니다.</p>

                    <br>
                </li>
                <li style="width:32%;">
                    <p class="foot_tit">BANK ACCOUNT</p>
                    <p>예금주 : 주식회사 한가구</p>
                    <p>국민은행 1111111-11-111111</p>
                    <br><p class="foot_tit">CS CENTER</p>
                    <p style="color:#000;font-size:14pt;font-weight:bold;">TEL : </p>  <p>Fax : </p>
                    <p>E-mail : <a href="#">@naver.com</a></p>
                    <p>Mon-Fri &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AM 09:00 ~ PM 07:00 </p>
                    <p>Sat, Holiday &nbsp; PM 01:00 ~ PM 07:00 (Closed on Sunday)</p>
                    <br><p class="foot_tit">
                </p>
                    <p style="color:#8f8f8f;">사진을 포함한 모든 컨텐츠는 저작권법 제98조에 의거하여 보호받고 있습니다.</p>

                </li>
                <li style="width:20%;">
                    <p class="foot_sns">
                        <a href="https://pf.kakao.com/_sCfQxd" target="_blank">카카오톡상담</a>
                        <a href="#" target="_blank">페이스북</a>
                        <a href="#" target="_blank">인스타그램</a>
                        <a href="#" target="_blank">블로그</a>
                        <br><br>
                        <a href="#" target="_blank">카카오톡상담</a>&nbsp;&nbsp;&nbsp;</a>
                </li>
            </ul>
        </div>
    </div>